$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

/* Pomodoro colors */
$pomodoro: rgba(244, 67, 54, 1);
$short-break: rgba(76, 175, 80, 1);
$long-break: rgba(33, 150, 243, 1);

/* Zen colors */
$zen-primary: rgba(20, 27, 30, 1);
// $zen-secondary: darken(rgba(41, 54, 60, 1), 5%);
$zen-secondary: rgba(41, 54, 60, 1);

@function teal($alpha)
{
    @return rgba(31, 122, 140, $alpha);
}

$primary: $pomodoro;
$secondary: $white; // lighten($cyan, 0%);
$tertiary: $black; //darken($cyan, 30%);

/* Portfolio card variables */
$card-width: 15rem;
