@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_fonts.scss';

.zen-off
{
  color: $secondary;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zen-on
{
  color: rgba($zen-secondary, .3);
  transition: all 0.5s ease-in-out;
}

.timer-wrapper
{

  .button-wrapper
  {
    display: flex;
    justify-content: center;
    align-items: center;

    .button
    {
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover
      {
        transform: scale(1.1);
      }

      &:active
      {
        transform: scale(0.9);
      }
    }
  }

  .pomodoro-wrapper
  {
    width: calc(100vw - 12px);

    .timer
    {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35rem;
      height: 15rem;
      border-radius: 10px;
      font-size: 5rem;
      margin:auto;

      @media (max-width: 600px)
      {
        width: 20rem;
        height: 10rem;
      }
    }

    .pomodoro
    {
      background-color: rgba($primary, 0.20);
    }

    .short-break
    {
      background-color: rgba($short-break, 0.20);
    }

    .long-break
    {
      background-color: rgba($long-break, 0.20);
    }
  }
}
