<div
  class="full-page"
>
  <div
    class="full-page full-page-gradient"
    [class.zen-on]="!isZenMode"
    [class.zen-off]="isZenMode"
  >
  </div>
</div>

<div
  class="zen-button bebas-font"
  (click)="toggleZenMode()"
>Zen</div>

<div
  class="pomo-title"
  [class.zen-on]="!isZenMode"
  [class.zen-off]="isZenMode"
>
  <h1
    class="bebas-font"
  >PomoFocus</h1>
</div>

<div
  class="timer-wrapper"
>
  <app-timer
    (emitPomodoroComplete)="increaseOldActivePomodoroCount()"
    [isZenMode]="isZenMode"
  ></app-timer>
</div>
<div
  class="task-wrapper"
  [class.zen-on]="!isZenMode"
  [class.zen-off]="isZenMode"
>
  <app-task
    [old_tasks]="old_tasks"
    [old_tasks_done]="old_tasks_done"
    [completeTasks]="completeTasks"
    [incompleteTasks]="incompleteTasks"
    (emitAddTask)="addNewTask($event)"
  ></app-task>
</div>

<!-- No router needed... now -->
<!-- <router-outlet></router-outlet> -->
