<div
  class="modal-backdrop"
  (click)="onClickExitModal($event)"
>
  <div
    class="modal"
  >
    <form>
      <div
        *ngIf="error"
        class="error-message"
      >
        <p>{{ errorMessage }}</p>
      </div>
      <label>Task Name</label>
      <input
        type="text"
        [(ngModel)]="taskName"
        name="taskName"
        required
      >
      <label>Task Description</label>
      <textarea
        rows="5"
        [(ngModel)]="taskDescription"
      ></textarea>

      <label>Extimated Pomodoros</label>
      <input
        type="number"
        [(ngModel)]="pomodoroEstimate"
        name="pomodoroEstimate"
        min="1"
        required
      >

      <button
        type="button"
        (click)="onClickAddTask()"
      >Save Task</button>
    </form>
  </div>
</div>
