@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_fonts.scss';

.modal-backdrop
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;

    .modal
    {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      color: white;

      .modalText
      {
          margin: 10px;
      }

      form
      {
        max-width: 420px;
        margin: 30px auto;
        background: darken($secondary, 10%);
        text-align: left;
        padding: 40px;
        border-radius: 10px;

        textarea
        {
          resize: none;
        }

        label
        {
          color: $tertiary;
          display: inline-block;
          margin: 25px 0 15px;
          font-size: 1.5em;
          text-transform: uppercase;
          font-family: 'Bebas Neue';
          letter-spacing: 1px;
          font-weight: bold;
        }

        textarea, input, select
        {
            display: block;
            padding: 10px 6px;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid #ddd;
            color: #555;
        }

        input[type="checkbox"]
        {
            display: inline-block;
            width: 16px;
            margin: 0 10px 0 0;
            position: relative;
            top: 2px;
        }

        button
        {
            background: #0b6dff;
            border: 0;
            padding: 10px 20px;
            margin-top: 20px;
            color: white;
            border-radius: 20px;
        }
      }
    }
}
