@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_fonts.scss';

.modal-wrapper
{
  position: fixed;
  z-index: 100;
}

.task-wrapper
{
  width: calc(100vw - 12px);
  margin: 7rem 0;

  .task-list-wrapper
  {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    background-color: $secondary;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    @media (max-width: 600px)
    {
      width: 20rem;
    }

    .task-list
    {
      margin: 2rem 0;
      width: 80%;
      border-bottom: 1px solid #ddd;
    }
  }

  .task-title
  {
    color: $tertiary;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    width: auto;
  }
}
